.signin  {
  background: url('./JDI.jpg');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}

.for  {
  padding-left: 1000px;
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  background-color:white;
}

input[type="text"],
  input[type="email"],
  input[type="number"], 
  input[type="password"]
  {
    background-color: #d5c8c8;
  }